/* Colour variables */

/* Font families */

/* Mixins */
@mixin rounded-corners($radius: 0.5em) {-webkit-border-radius: $radius; -moz-border-radius: $radius; border-radius: $radius;}

@mixin linear-gradient($startcolor, $startpoint, $endcolor, $endpoint) {background: $endcolor; background: -webkit-gradient(linear, left top, left bottom, color-stop($startpoint, $startcolor), color-stop($endpoint,$endcolor)); /* Chrome,Safari4+ */ background: -moz-linear-gradient(top, $startcolor $startpoint, $endcolor $endpoint); /* FF3.6+ */ background: -o-gradient(top, $startcolor $startpoint, $endcolor $endpoint); /* Opera 11.10+ */ background: -ms-linear-gradient(top, $startcolor $startpoint, $endcolor $endpoint); /* IE10+ */ background: linear-gradient(top, $startcolor $startpoint, $endcolor $endpoint); }

@mixin shadow($shadow) {-webkit-box-shadow: $shadow; box-shadow: $shadow; }

@mixin transition($transtion: all 0.25s linear ) {-webkit-transition: $transtion; -moz-transition: $transtion; -o-transition: $transtion; transition: $transtion; }

@mixin rotate($angle) { -webkit-transform: rotate($angle); -moz-transform: rotate($angle); -ms-transform: rotate($angle); -o-transform: rotate($angle); transform: rotate($angle); }

@mixin keyframes($name) { @-webkit-keyframes #{$name} {@content; } @-moz-keyframes #{$name} {@content; } @-ms-keyframes #{$name} {@content; } @keyframes #{$name} {@content; } }

@mixin animate($animation, $animation-2: false) {-webkit-animation: #{$animation, $animation-2}; -moz-animation: #{$animation, $animation-2}; -o-animation: #{$animation, $animation-2}; animation: #{$animation, $animation-2}; };

@mixin border-box {-moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; *behavior: url(/js/boxsizing.htc); }

@mixin content-box {-moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; *behavior: none; }
