/* Colour variables */

/* Font families */

/* EM function - converts pixel value into em value */
$baseFontSize:14;

@function em($target, $context: $baseFontSize) {
    @return ($target / $context) * 1em; /* em(21) runs (21 / 14) and returns 1.5em */
}

/* Opacity Mixin */
@mixin opacity($opacity) { 
  opacity: $opacity;
  $opacityIE: $opacity * 100; filter: alpha(opacity=$opacityIE); /* <= IE8 */ 
}
