/*###########################################################################################*\
    --SASS VARIABLES, MIXINS, PLACEHOLDERS
      ---Bourbon
      ---Colours
      ---Font families
      ---EM function
      ---Opactiy mixin
      ---Breakpoint mixin
      ---Clearfix placeholder
      ---Reverse Visuallyhidden
\*###########################################################################################*/

/* Bourbon - http://bourbon.io/docs/ */
@import 'bourbon';
/* Colour variables */

/* Font families */

/* EM function - converts pixel value into em value */
$baseFontSize:14;

@function em($target, $context: $baseFontSize) {
    @return ($target / $context) * 1em; /* em(21) runs (21 / 14) and returns 1.5em */
}

/* Opacity Mixin */
@mixin opacity($opacity) { 
  opacity: $opacity;
  $opacityIE: $opacity * 100; filter: alpha(opacity=$opacityIE); /* <= IE8 */ 
}

/* Breakpoint Mixin */
@mixin respond-to($widthCondition, $breakpoint) {
    $emBreakpoint: ($breakpoint / 16) * 1em ;
    @media only screen and ($widthCondition: $emBreakpoint ) { @content; }
}

/* Clearfix Placeholder */
%clearfix {
  *zoom: 1;
  &:after {
      content: " ";
      display: table;
      clear: both;
  }
}
/* Reverse Visuallyhidden  */
%reverse-visuallyhidden { position: static; overflow: auto; width: auto; height: auto; margin: 0; clip: auto; }
