/*
This stylesheet is written as '.scss' and combined and compressed using CodeKit

Following the mobile-first approach, styles are declared for small viewports first, then optimised for larger viewports.

CONTENTS
--Sass variables and mixins
--Reset
--Typography
--Forms
--Modular components
--Site header
--Site footer
--Pagecontent
--Little helpers
--Oldies
--Print
*/


/*###########################################################################################*\
    £Sass VARIABLES AND MIXINS
\*###########################################################################################*/
@import "variablesmixins";
/*###########################################################################################*\
    £RESET
\*###########################################################################################*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {margin:0; padding:0; border:0; font-size:100%; font:inherit; vertical-align:baseline;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, time {display:block;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,
q:before, q:after {content:''; content:none;}
table {border-spacing:0; border-collapse: collapse;}
html { height: 100%; width: 100%; overflow-y: scroll; } /* forcing a scroll bar to prevent page jumps on short pages */
body { height: 100%; width: 100%; margin: 0 auto;}
/*###########################################################################################*\
    £TYPOGRAPHY
\*###########################################################################################*/
body { font: 100%/1.5em Helvetica, Arial, sans-serif; /* 16px/24px */
  color: #333;
   /* Nicer text rendering in webkit */ 
  -webkit-font-smoothing: antialiased;
  /* preventing text size adjustment on iOS without disabling zoom */
  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
}  
h1, h2, h3, h4, h5, h6, 
.faux_h1, .faux_h2, .faux_h3, .faux_h4, .faux_h5, .faux_h6 { } 
h1, .faux_h1 {  /* 25px */font-size: 1.56em; line-height: 1.4em; margin-bottom: 0.28em; text-transform: uppercase;}
h2, .faux_h2 {  /* 22px */font-size: 1.38em; line-height: 1.27em; margin-bottom: 0.64em; text-transform: uppercase;}
h3, .faux_h3 { /* 20px */font-size: 1.25em; line-height: 1.4em; margin-bottom: 0.35em; text-transform: none;} 
h4, h5, h6, .faux_h4, .faux_h5, .faux_h6 { /* 18px */font-size: 1.13em; line-height: 1.17em; text-transform: none;} 
p { margin: 0 0 1.5em 0; }
p img { margin: 0; }

em { font-style: italic; }
strong, b { font-weight: bold; }
small { font-size: 0.81em; line-height: 1.15em; }
abbr[title] { border-bottom: 1px dotted; }
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }
blockquote { position: relative; margin: 0 0 1.31em 0; padding: 0 25px; }
blockquote p {font-style: italic;}
blockquote p:last-of-type { margin-bottom: 0;}
blockquote cite { font-size: 0.81em; line-height: 1em; }
blockquote cite:before { content:'– '; }
hr { border: 0; border-top: 1px solid $chocolate; padding: 1.31em 0 1.25em 0; margin: 0;}
::-moz-selection, ::selection { }
img { -ms-interpolation-mode: bicubic; vertical-align: middle; } /* improve image quality when scaled in IE 7, remove gap between images and the bottom of their containers */

/* Links */
a { color: red; text-decoration:none; }
a:focus { outline: thin dotted; }
a:hover, a:active { text-decoration: underline; }
a img { border: none; }
a img:hover { opacity:0.8; -moz-opacity:0.8; }

/* Lists */
ul, ol { margin:0 0 1.75em 20px; }
li { margin-bottom: 0.44em;}
li:last-child {margin-bottom: 0;}
ul li { list-style-type: disc; }
ol li { list-style-type: decimal; }

ul.no-bull, ol.no-bull { margin-left: 0; }
ul.no-bull li, ol.no-bull li { list-style: none; }

ul.inline li, ol.inline li { display: inline-block; *display: inline; zoom:1;}

nav ul, nav ul li { margin:0; list-style:none; }

dl { margin: 0 0 1.5em 0; }
dt { font-weight: bold; }
dd { margin:0 0 0.44em 10px; }

/* Tables */
table { width: 100%; margin-bottom: 1.5em; text-align: left; }
th {padding: 0.31em 10px; border-bottom: 1px solid #666; font-weight: bold; text-align: left; vertical-align: top; }
td {padding: 0.31em 10px; border-bottom: 1px solid #999; vertical-align: top; }

/*###########################################################################################*\
    £FORMS
\*###########################################################################################*/
form { margin: 0 0 1.31em 0; }
fieldset { margin-bottom: 1.31em; }

label { display: block; font-weight: bold; }

/* reset field styles */
input[type="text"] { -webkit-appearance: none; -webkit-border-radius: 0;}
input[type="search"] { -webkit-appearance: none; -webkit-border-radius: 0;}
input[type="email"] { -webkit-appearance: none; -webkit-border-radius: 0;}
input[type="password"] { -webkit-appearance: none; -webkit-border-radius: 0;}
textarea  { -webkit-appearance: none; -webkit-border-radius: 0;}

input, textarea { display: block; border: 1px solid #CCC; padding: 0.31em 5px; background: #FFF; outline:none; color:#777; }
input:focus, textarea:focus { border: 1px solid #000; background: #CCC; color: #000;}

textarea { min-height: 60px; }

input[type="checkbox"] { display: inline; padding: 0; vertical-align: bottom; }
input[type="radio"] { display: inline; vertical-align: text-bottom; }

textarea { overflow: auto; vertical-align: top; resize: vertical;} /* removes default vertical scrollbar in <=IE9, improves readability and alignment, only allow vertical resizing */

::-webkit-input-placeholder { color: #999; font-style: italic; }
::-moz-placeholder { color: #999; font-style: italic; } /* Firefox 4 to 18 */ 
:-moz-placeholder{ color: #999; font-style: italic; } /* Firefox 19+ */
:-ms-input-placeholder { color: #999; font-style: italic; } /*Internet Explorer 10+ */
::input-placeholder { color: #999; font-style: italic; }
  /* remove placeholder on input focus - http://adactio.com/journal/6147/ */
  [placeholder]:focus::-webkit-input-placeholder { color: transparent; }
  [placeholder]:focus::-moz-placeholder { color: transparent; }
  [placeholder]:focus:-moz-placeholder { color: transparent; }
  [placeholder]:focus:-ms-input-placeholder { color: transparent; }
  [placeholder]:focus::input-placeholder { color: transparent; }

/* enforce font display on following elements */
button, 
input[type="button"], 
input[type="submit"] { font-size: 100%; font-family: Helvetica, Arial, sans-serif; cursor: pointer; }
button[disabled],
input[disabled] { cursor: default; }
/*###########################################################################################*\
    £MODULAR COMPONENTS
\*###########################################################################################*/

/*###########################################################################################*\
    £SITE HEADER
\*###########################################################################################*/

/*###########################################################################################*\
    £SITE FOOTER
\*###########################################################################################*/

/*###########################################################################################*\
    £PAGECONTENT
\*###########################################################################################*/
/* Site wide */

/* Section specific */

/*###########################################################################################*\
    £Little helpers
\*###########################################################################################*/
/* ensure parent element wraps around its floating children - http://nicolasgallagher.com/micro-clearfix-hack/ */
.clearfix:before, .clearfix:after { display:table; content:""; }
.clearfix:after { clear:both; }
.clearfix { *zoom:1; } /* for IE 6/7 only */
/*  hide element visually, but have it available for screenreaders - http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visuallyhidden { position: absolute; overflow: hidden; width: 1px; height: 1px; border:0; padding: 0; margin: -1px; clip: rect(0 0 0 0); }
/* hide from everybody */
.hidden { visibility: hidden; display: none !important; }
/* replace text with a background image, but keep screenreaders happy */
.replaced { display:block; background-color:transparent; background-repeat:no-repeat; text-indent:-999999em; text-align:left; line-height:0; }
/* float element to the left */
.float { float:left; clear:none; display:inline; }
/* float element to the right */
.floatright { float:right; clear:none; display:inline; }
/* don't floot element */
.clear { overflow:hidden; clear:both; display:block; }
/* no bottom margin on element */
.no-btm-margin { margin-bottom: 0; }

/*###########################################################################################*\
    £OLDIES
\*###########################################################################################*/

/*###########################################################################################*\
    £PRINT
\*###########################################################################################*/
@media print {
  * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow:none !important;
      text-shadow: none !important;
  }

  #content a[href]:after { content:" (" attr(href) ")"; }
  #content  abbr[title]:after { content: " (" attr(title) ")"; }

  thead { display: table-header-group; /* repeats table header on each page - h5bp.com/t */}

  tr,
  img { page-break-inside: avoid;}

  img { max-width: 100% !important;}
}
