/*
This stylesheet is written as '.scss' and combined and compressed using CodeKit.
Following the mobile-first approach, styles are declared for small viewports first, then optimised for larger viewports.

CONTENTS
--Sass variables and mixins
--Normalize
--Typography
--Lists
--Tables
--Media
--Forms
--Modular components
--Site header
--Site footer
--Pagecontent
--Little helpers
--Oldies
--Print
*/


/*###########################################################################################*\
    --SASS VARIABLES AND MIXINS
\*###########################################################################################*/
@import "variablesmixins";

/*###########################################################################################*\
    --NORMALIZE
\*###########################################################################################*/
@import "normalize";

/*###########################################################################################*\
    --TYPOGRAPHY
\*###########################################################################################*/
body { font: 100%/1.5em sans-serif; /* 16px/24px */
   /* Nicer text rendering in webkit */ 
  -webkit-font-smoothing: antialiased;
  /* preventing text size adjustment on iOS without disabling zoom */
  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
}  

h1, h2, h3, h4, h5, h6, 
.faux_h1, .faux_h2, .faux_h3, .faux_h4, .faux_h5, .faux_h6 { } 
h1, .faux_h1 { font-size: em(25); line-height: em(28,25); margin-bottom: em(5,25); }
h2, .faux_h2 { font-size: em(22); line-height:em(24,22); margin-bottom: em(5,22); }
h3, .faux_h3 { font-size: em(20); line-height: em(22,20); margin-bottom: em(5,20); } 
h4, h5, h6, .faux_h4, .faux_h5, .faux_h6 { font-size: em(18); line-height: em(24,18); } 

p { margin: 0 0 em(24) 0; }
p img { margin: 0; }

em { font-style: italic; }
strong, b { font-weight: bold; }

small { font-size: 80%; line-height: 1.2em; }

/* ABBR styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

blockquote { position: relative; margin: 0 0 1.31em 0; padding: 0 25px; }
  blockquote p { font-style: italic; }
  blockquote p:last-of-type { margin-bottom: 0; }
  blockquote cite { font-size: em(12); line-height: 1em; }
  blockquote cite:before { content:'– '; }

hr { height: 0; border: 0; border-top: 1px solid; padding: em(14) 0 em(15) 0; margin: 0;}

::-moz-selection { }
::selection { }

/* Links */
a { color: red; text-decoration:none; }
a:focus { outline: thin dotted; }
a:hover, a:active { text-decoration: underline; outline: 0; }

/*###########################################################################################*\
    --LISTS
\*###########################################################################################*/
ul, ol { margin: 0 0 em(24) 20px; padding: 0; }
ul li { list-style-type: disc; }
ol li { list-style-type: decimal; }

ul.no-bull, 
ol.no-bull { margin-left: 0; }
ul.no-bull li, 
ol.no-bull li { list-style: none; }

ul.inline li, 
ol.inline li { display: inline-block; *display: inline; zoom:1;}

nav ul, 
nav ul li { margin: 0; list-style: none; }

dl { margin: 0 0 em(24) 0; }
  dt { font-weight: bold; }
  dd { margin:0 0 em(2) 10px; }

/*###########################################################################################*\
    --TABLES
\*###########################################################################################*/
table { width: 100%; margin-bottom: em(24); text-align: left; border-spacing: 0; border-collapse: collapse; }
th { padding: em(5) 10px; border-bottom: 1px solid; font-weight: bold; text-align: left; vertical-align: top; }
td { padding: em(5) 10px; border-bottom: 1px solid; vertical-align: top; }

/*###########################################################################################*\
    --MEDIA
\*###########################################################################################*/
figure { margin: 0; }

img { 
  -ms-interpolation-mode: bicubic; /* improve image quality when scaled in IE 7 */
  vertical-align: middle; /* remove gap between images and the bottom of their containers */
  border: 0; /* Remove border when inside `a` element in IE 8/9 */
}
a img:hover { opacity:0.8; -moz-opacity:0.8; }  

/*###########################################################################################*\
    --FORMS
\*###########################################################################################*/
form { margin: 0 0 em(24) 0; }
fieldset { margin-bottom: em(24); }

legend {
    border: 0; /* Correct `color` not being inherited in IE 8/9 */
    padding: 0; /* Remove padding so people aren't caught out if they zero out fieldsets */
}

label { display: block; font-weight: bold; }

input,
select,
textarea,
button {
    font-family: inherit; /* Correct font family not being inherited in all browsers */
    font-size: 100%; /* Correct font size not being inherited in all browsers */
    margin: 0; /* Address margins set differently in Firefox 4+, Safari 5, and Chrome */
    line-height: normal; /* Address Firefox 4+ setting `line-height` on `input` using `!important` in the UA stylesheet */
}

/* Remove any webkit styling from fields */
input[type="text"] { -webkit-appearance: none; -webkit-border-radius: 0; }
input[type="search"] { -webkit-appearance: none; -webkit-border-radius: 0; }
input[type="email"] { -webkit-appearance: none; -webkit-border-radius: 0; }
input[type="password"] { -webkit-appearance: none; -webkit-border-radius: 0; }
textarea  { -webkit-appearance: none; -webkit-border-radius: 0; }

input, textarea { padding: em(5) 5px; outline:none; }

textarea { 
  min-height: em(60); 
  overflow: auto; /* Remove default vertical scrollbar in IE 8/9 */
  vertical-align: top; /* Improve readability and alignment in all browsers */
  resize: vertical;  /* only allow vertical resizing */
}

input[type="checkbox"],
input[type="radio"] { 
  box-sizing: border-box; /* Address box sizing set to `content-box` in IE 8/9 */
  padding: 0; /* Remove excess padding in IE 8/9 */
}

/* Placeholders */
::-webkit-input-placeholder { color: #999; font-style: italic; }
::-moz-placeholder { color: #999; font-style: italic; } /* Firefox 4 to 18 */ 
:-moz-placeholder{ color: #999; font-style: italic; } /* Firefox 19+ */
:-ms-input-placeholder { color: #999; font-style: italic; } /*Internet Explorer 10+ */
::input-placeholder { color: #999; font-style: italic; }
  /* remove placeholder on input focus - http://adactio.com/journal/6147/ */
  [placeholder]:focus::-webkit-input-placeholder { color: transparent; }
  [placeholder]:focus::-moz-placeholder { color: transparent; }
  [placeholder]:focus:-moz-placeholder { color: transparent; }
  [placeholder]:focus:-ms-input-placeholder { color: transparent; }
  [placeholder]:focus::input-placeholder { color: transparent; }

button[disabled], input[disabled] { cursor: default; }

/*###########################################################################################*\
    --MODULAR COMPONENTS
\*###########################################################################################*/

/*###########################################################################################*\
    --SITE HEADER
\*###########################################################################################*/

/*###########################################################################################*\
    --SITE FOOTER
\*###########################################################################################*/

/*###########################################################################################*\
    --PAGECONTENT
\*###########################################################################################*/
/* Site wide */

/* Section specific */

/*###########################################################################################*\
    --Little helpers
\*###########################################################################################*/
/*  hide element visually, but have it available for screenreaders - http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visuallyhidden { position: absolute; overflow: hidden; width: 1px; height: 1px; border:0; padding: 0; margin: -1px; clip: rect(0 0 0 0); }
  /* sometimes we need to reverse the hiding, i.e. when there's no support for font icons or in print styles etc */
  @mixin reverse-visuallyhidden { position: static; overflow: auto; width: auto; height: auto; margin: 0; clip: auto; }
/* hide from everybody */
.hidden { visibility: hidden; display: none !important; }
/* replace text with a background image, but keep screenreaders happy -  https://github.com/h5bp/html5-boilerplate/commit/adecc5da035d6d76b77e3fa95c6abde841073da2 */
.replaced { background-color:transparent; background-repeat:no-repeat; border: 0; overflow: hidden; *text-indent:-999em; }
.replaced:before { content: ""; display: block; width: 0; height: 200%; }
/* float element to the left */
.float { float:left; clear:none; display:inline; }
/* float element to the right */
.floatright { float:right; clear:none; display:inline; }
/* don't floot element */
.clear { overflow:hidden; clear:both; display:block; }
/* no bottom margin on element */
.no-btm-margin { margin-bottom: 0; }

/*###########################################################################################*\
    --OLDIES
\*###########################################################################################*/

/*###########################################################################################*\
    --PRINT
\*###########################################################################################*/
@media print {
  * {
      background: transparent !important;
      color: #000 !important; /* Black prints faster: h5bp.com/s */
      box-shadow:none !important;
      text-shadow: none !important;
  }

  #pagecontent a[href]:after { content:" (" attr(href) ")"; }
  #pagecontent  abbr[title]:after { content: " (" attr(title) ")"; }

  thead { display: table-header-group; /* repeats table header on each page - h5bp.com/t */}

  tr,
  img { page-break-inside: avoid;}

  img { max-width: 100% !important;}
}
