/* 
==========================================================================
LISTS
========================================================================== */

/* 
Generic */
ul, ol { padding-left: 1.3em; }
ul ul, 
ol ol { margin-bottom: 0; }
ul li { list-style-type: disc; }
ol li { list-style-type: decimal; }

/* 
No bullets/decimals */
ul.no-bull, 
ol.no-bull { margin-left: 0; }
ul.no-bull li, 
ol.no-bull li { list-style: none; }

/* 
Inline */
ul.inline li, 
ol.inline li { display: inline-block; *display: inline; zoom:1;}

/* 
Navigation */
nav ul, 
nav ul li { margin: 0; padding: 0; list-style: none; }
nav .current { font-weight: bold; }

/* 
Definition lists */
dl {  }
  dt { font-weight: bold; }
  dd {  }
