# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# OS or Editor files and folders
.DS_Store
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace

# Dreamweaver added files
_notes
dwsync.xml

# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
.idea
back_up

## EE specific
cache
cache/*
system/expressionengine/cache
system/expressionengine/cache/*
images/made
images/captchas
.PBSyncDB

## Statamic specific
_cache/*
_logs/*
transformed_img/*

## Craft specific
/craft/*
!/craft/config
!/craft/translations
!/craft/plugins

# SFTP set up file
sftp-config.json

# Sketch data files
*.sketch/Data
*.sketch/metadata
