/*
==========================================================================
FORMS
========================================================================== */
form {

}

fieldset {

}

label {
  display: block;
}

input,
textarea {
  outline:none;

  @include placeholder {
    color: #999;
    font-style: italic;
  }
}
