/*
==========================================================================
EMBEDDED MEDIA
========================================================================== */
img {
  max-width: 100%;
  height: auto;
  // Stop image shifting in chrome when using hover with opacity change
  -webkit-backface-visibility: hidden;

  a & {
    @include transition(opacity, 0.3s ease-in-out);
    @include hover-states {
      opacity: 0.8;
    }
  }
}

figure {

}

/*
Responsive video */
.video-wrapper {
  position: relative;
  padding-bottom: 56.25%;
  @include rem(padding-top, 30px);
  height: 0;
  overflow: hidden;
}
.video-wrapper iframe,
.video-wrapper object,
.video-wrapper embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
