/*
==========================================================================
HELPER CLASSES
Can be applied to element or used as @extends.
========================================================================== */
/*  hide element visually, but have it available for screenreaders - http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  border:0;
  padding: 0;
  margin: -1px;
  clip: rect(0 0 0 0);
}

/* hide from everybody */
.hidden {
  visibility: hidden;
  display: none !important;
}

.clearfix {
  *zoom: 1;
  &:after {
      content: " ";
      display: table;
      clear: both;
  }
}

/* no bottom margin on element */
.no-btm-margin {
  margin-bottom: 0;
}
