/* 
==========================================================================
TYPOGRAPHY
========================================================================== */
body { 
  font: 100%/1.5em sans-serif; /* 16px/24px */
   /* Nicer text rendering in webkit */ 
  -webkit-font-smoothing: antialiased;
  /* preventing text size adjustment on iOS without disabling zoom */
  -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;
  /* use ligatures if available */
  font-variant-ligatures: common-ligatures;
}  

h1, h2, h3, h4, h5, h6, 
.faux_h1, .faux_h2, .faux_h3, .faux_h4, .faux_h5, .faux_h6 { } 
h1, .faux_h1 {  }
h2, .faux_h2 {  }
h3, .faux_h3 {  } 
h4, h5, h6, .faux_h4, .faux_h5, .faux_h6 { } 

p {  }
p img { margin: 0; }

em { font-style: italic; }

strong, b { font-weight: bold; }

small { font-size: 80%; line-height: 1.2em; }

/* ABBR styling not present in IE 8/9, Safari 5, and Chrome. */
abbr[title] { border-bottom: 1px dotted; }

/* Prevent `sub` and `sup` affecting `line-height` in all browsers. */
sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

blockquote {  }
  blockquote p { font-style: italic; }
  blockquote p:last-of-type { margin-bottom: 0; }
  blockquote cite { }
  blockquote cite:before { content:'– '; }

hr { height: 0; border: 0; border-top: 1px solid; margin: 0; @include rem(padding, 14px 0 15px 0); }

::-moz-selection { }
::selection { }

/* Links */
a { color: red; text-decoration:none; }
a:focus { outline: thin dotted; }
a:hover, a:active { text-decoration: underline; outline: 0; }
