/*
==========================================================================
TYPOGRAPHY
========================================================================== */
body {
  font-family: sans-serif;
  font-size: 100%; /* 16px */
  line-height: 1.5em; /* 24px */
}

/*=====*/

h1, h2, h3, h4, h5, h6,
.faux_h1, .faux_h2, .faux_h3, .faux_h4, .faux_h5, .faux_h6 {

}
h1, .faux_h1 {

}
h2, .faux_h2 {

}
h3, .faux_h3 {

}
h4, h5, h6, .faux_h4, .faux_h5, .faux_h6 {

}


/*=====*/

p {

}
p img {
  margin: 0;
}

hr {
  border: 0;
  border-top: 1px solid;
  margin: 0;
  @include rem(padding, 14px 0 15px 0);
}

::-moz-selection { }
::selection { }

/*====
Quotes
====*/
blockquote {  }
blockquote p {
  font-style: italic;
}
blockquote p:last-of-type {
  margin-bottom: 0;
}
blockquote cite { }
blockquote cite:before {
  content:'– ';
}

/*====
Links
====*/
a {
  color: red;
  text-decoration:none;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  text-decoration: underline;
  outline: 0;
}

/*====
Lists
====*/

ul, ol {
  padding-left: 1.3em;
}
ul ul,
ol ol {
  margin-bottom: 0;
}
ul li {
  list-style-type: disc;
}
ol li {
  list-style-type: decimal;
}


ul.list__unstyled,
ol.list__unstyled {
  margin-left: 0;
}
ul.list__unstyled li,
ol.list__unstyled li {
  list-style: none;
}


ul.list__inline li,
ol.list__inline li {
  display: inline-block;
  *display: inline;
  zoom:1;
}


dl {  }
  dt { font-weight: bold; }
  dd {  }
